.singlePostWrapper {
  padding: 20px;
}

.singlePostImg {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 30px;
  font-family: "Lora", serif;
  font-size: 28px;
}

.singlePostEvent {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #b39656;
}

.singlePostEventBtn {
  margin-top: 10px;
  min-width: 100px;
}

.singlePostInfo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #b39656;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.singlePostCatsTags {
  color: #000;
  font-weight: 500;
  margin-left: 5px;
}

.singlePostCommentWrapper {
  padding-top: 100px;
}

.singlePostCommentCount {
  font-family: "Lora", serif;
}

.singlePostComment {
  padding-top: 30px;
}

.singlePostCommentInfo {
  display: grid;
}

.singlePostCommentName {
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.singlePostCommentDate {
  padding-top: 5px;
  font-family: "Varela Round", sans-serif;
  color: #666;
}

.singlePostCommentBody {
  padding-top: 20px;
  font-family: "Varela Round", sans-serif;
}

.singlePostCommentNewWrapper {
  padding-top: 50px;
}

.singlePostCommentNew {
  padding-bottom: 10px;
}

.form-group {
  padding-bottom: 20px;
}

.error {
  padding-top: 5px;
  color: red;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: inherit;
}

.singlePostCommentBtn {
  width: 100%;
  text-transform: uppercase;
}

.singlePostCommentAlert {
  position: fixed;
  right: 50px;
  bottom: 50px;
}