* {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: inherit;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

.pagination {
  justify-content: center;
}